@CHARSET "ISO-8859-1";
div.button {
	margin-left : 30%;
	margin-right : 30%;
}
div.register {
	margin-left : 20%;
	margin-right : 20%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.slider_min {
    text-align:left;
    float:left;
}
.slider_max {
    text-align:right;
    float:right;
}